.section {
  @apply relative;
}

/* ck, gz lp as */
.container {
  @apply px-4 sm:px-6 max-w-6xl mx-auto;
}

/* hg, hh, bb, bg */
.innerContainer {
  @apply grid items-center md:grid md:gap-12 md:grid-cols-12 lg:gap-20 py-4;
}

/*  */
.center {
  @apply col-span-10 md:col-start-2 md:col-span-10 flex justify-between;
}

.iconContainer {
  @apply grid grid-cols-3 gap-4;
}
.langContainer {
  @apply flex space-x-2 text-sm;
}

.h1 {
  font-weight: 800;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 1024px) {
  .h1 {
    font-size: 3.5rem;
    line-height: 1.18;
  }
}
