.section {
  @apply relative;
}

/* ck, gz lp as */
.container {
  @apply px-4 sm:px-6 max-w-6xl lg:max-w-7xl mx-auto;
}

/* hg, hh, bb, bg */
.innerContainer {
  @apply items-center md:pt-16 md:grid md:gap-12 md:grid-cols-12 lg:gap-20;
}

/*  */
.center {
  @apply flex justify-between col-span-10 md:col-start-2 md:col-span-10 lg:col-start-1 lg:col-span-12;
}

.logoContainer {
  @apply relative w-full max-w-[160px] md:max-w-[240px] mx-auto pt-8 md:pt-0;
}

.left {
  @apply hidden md:flex space-x-8 items-center flex-shrink-0;
}

.right {
  @apply hidden md:flex space-x-8 text-right items-center flex-shrink-0;
}

.h1 {
  font-weight: 800;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 1024px) {
  .h1 {
    font-size: 3.5rem;
    line-height: 1.18;
  }
}
