:root {
  --primary: #5e2028;
  --primary-hover: #852d39; /* #391318; */
  --secondary: #ffffff;
  --hover: rgba(255, 255, 255, 0.075);
  --hover-dark: rgba(0, 0, 0, 0.65);

  --text-default: rgb(54, 48, 48);
  --text-default-alt: rgb(92, 76, 76);

  --text-primary: white;
  --text-secondary: #735e51;

  --gray: #c4c4c4;
  --cyan: #22b8cf;
  --green: #37b679;
  --red: #da3c3c;
  --blue: #0070f3;

  --active: var(--blue);

  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --font-sans: "Roboto Condensed", -apple-system, system-ui, BlinkMacSystemFont,
    "Helvetica Neue", "Helvetica", sans-serif;

  --rounded-default: 4px;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--text-primary);
  background: var(--primary-hover);
}

::selection {
  color: var(--text-primary);
  background: var(--primary-hover);
}
